@import '~antd/lib/style/themes/default.less';

.layout {
  background-color: #fff;
  :global {
    .ant-layout,
    .ant-layout-footer {
      background-color: #fff;
    }
    .ant-layout-sider{
      background-color: @primary-color;
    }
  }
}

.content {
  margin: 24px;
  padding-top: @layout-header-height;
}
